/*Troubleshooting*/
.red {
  border: 5px solid red;
}

/*CSS Reset*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

/*Containers*/
.page-bg-container {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index:-10;
}

.flex-container {
  width: 80%;
  height:100%;
  display: flex;
  margin: auto;
  justify-items: center;
  justify-content: center;
  border-radius:25px;
  margin-top:10px;
}

/*Text Styles*/
h1 {color: white;
  font-family: Bungee, Brush Script MT;
  font-weight: 700;
  font-style: normal;
  font-size: 46pt;
  text-align: center;
  padding: 0px 0px 15px 0px;
  }

h2 {
  color: black;
  font-family: Pixelify Sans, Bungee, Brush Script MT;
  font-weight: 400;
  font-style: normal;
  font-size: 18pt;
  text-align:center;
}

body-copy {
  line-height: 1.6;
  /* 4. Improve text rendering */
  font-smooth: always;
  color: black;
  font-family: Pixelify Sans, Bungee, Brush Script MT;
  font-size: 12pt;
}

.stainless-bg {
  
}

list-style {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  color: black;
  font-family: Garamond;
  font-weight: bold;
  font-size: 14pt;
  line-height: 1.8;
  text-align: center;
}

.img-q-links {
  width: 50px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 4px 4px 0px black;  
}

/*Bars*/
.bar {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  column-gap: 0px;
  padding: 10px;
  margin: 10px auto;
  
}

/*Styling*/
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: cornflowerblue;
}
a:visited: {
  color: orange;
}

.top-menu {
  font-family: Pixelify Sans, Bungee, Brush Script MT;
  font-weight: bold;
  font-size: 18pt;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  column-gap: 50px;
  background-color: ;
  padding: 10px;
  width: 100%;
  position: sticky;
  z-index: 10;
  margin: 0px auto;
}

.home-bg {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0px auto auto auto;
  border-radius: 3px;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f8759060064327.5a3a5a50d6a57.jpg");
  padding: 50px;
}

.overlay { 
  width: 100%;
  z-index: 5;
  position: fixed;
  object-fit: cover;
  text-align: center;
  min-height: 100%;
  
}

body {
  display: block;
  width: 100vw;
  height: 100wh;
} 

/*Styling: Sidebars*/
.fishbowl{
  background-image: url("https://i.pinimg.com/originals/e6/0c/4a/e60c4ae6305c1b5d57e9954166761db9.gif");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  border:0px ridge orange; 
  border-radius: 25px;
  width: 100%; 
  display:block;
  margin:0px auto;
}

.fishbowl2 {
  background-color:rgba(0, 0, 0, 0.8);
  border:10px ridge silver; 
  border-radius: 25px;
  width: 100%; 
  display:block;
  margin:0px auto;
}

.concrete {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f8759060064327.5a3a5a50d6a57.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover; 
  border-radius: 3px;
}

.padded-image {
  padding: 15px;
}

.footer { 
    position: absolute; 
    bottom: 0; 
    margin: 0px auto;
    width:100%;
    text-align: center;
}

#scroll-container {
  overflow: hidden;
  width: 100%;
}

#scroll-text {
  transform: translateX(-100%);
  animation: my-animation 10s linear infinite;
}

@keyframes my-animation {
  from 
  {
    transform: translateX(-100%);
  }
  to { transform: translateX(100%);}
}

@keyframes pulse {
  50% {
    transform: scale(1.5);
  }
}

.pulse:hover {
  transform: scale(1.5);
  transition: transform 250ms;
}

.wrapper { 
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  border-radius: 15px;
  padding: 5px 10px px 10px;
  margin: 10px 10px;
  background-size: 1800% 1800%;
  animation: rainbow 5s ease infinite;
  position: sticky;
  z-index:0;
  
}

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.r2 {
  z-index: 10;
}

.r2:hover {
  transform: scale(2);
  transition: transform 250ms;
}

.chain {
 width: 100%;
 text-align:center;
  display: block;
  margin: auto;
  transform: rotate(0deg);
}