/*CSS Reset*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

/*Containers*/
.flex-container {
  width: 1500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

/*Text Styles*/
h1 {color: white;
  font-family: Pixelify Sans, Bungee, Brush Script MT;
  font-weight: 1;
  font-style: normal;
  font-size: 42pt;
  text-align: center;
}

h2 {color: white;
  font-family: Pixelify Sans, Bungee, Brush Script MT;
  font-weight: 400;
  font-style: normal;
  font-size: 18pt;
}

body-copy {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  color: white;
  font-family: Garamond;
  font-weight: bold;
  font-size: 14pt;
  padding: 30px;
  
}

list-style {
  display: flex;
  flex-direction: column;
  color: black;
  font-family: Garamond;
  font-weight: bold;
  font-size: 14pt;
  line-height: 1.6;
  padding: 30px 0px 0px 0px;
}

/*Bars*/
.bar {
  display: flex;
  height: 100%;
  align-items: center;
  margin-top: -25px;
  column-gap: 50px;
  justify-content: space-between;
}

/*Styling*/
.home-bg {
  width: 800px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  margin: 30px auto auto auto;
  padding: 40px 50px 25px 50px;
  border:10px ridge silver; 
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}


/*Styling: Sidebars*/
.fishbowl{
  background-image: url("https://i.pinimg.com/originals/e6/0c/4a/e60c4ae6305c1b5d57e9954166761db9.gif");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  border:5px ridge cornflowerblue; 
  border-radius: 25px;
  margin: auto;
  width: 100%; 
}

.concrete {
   background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f8759060064327.5a3a5a50d6a57.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  border:10px ridge silver; 
  border-radius: 25px;
  margin: auto;
  width: 100%; 
}

.padded-image {
  padding: 15px;
}